// Fonts
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

$breakpoint-sm: 400px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
$margin-mm:5px;
$margin-sm:20px;
$margin-md:40px;
$margin-lg:80px;
$border-style :1px dotted rgba(0,0,0,.3);
$font-color :#505A5F;
$back-color:#f5f5f5;
$second-color:#eee;
$a-color:#111;


body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 18px;
  margin: 0;
  padding: 0;
  color:$font-color;
  background: $back-color;

    @include mq(md){
	 	font-size: 13px;
	 }
	 & .no-scroll{
	 	overflow-y:hidden; 
	 }
   & li{
		list-style: none;
	}
   & a{
		text-decoration: none;
		color:$font-color;
			&:hover{
				color:$a-color;
	    }
	 }
	 & button{
	 	text-decoration: none;
		color:$font-color;
		margin: $margin-sm;
		padding: $margin-mm;
		margin-bottom: 20px;
		border: none;
		text-align: center;
		float: right;
		display: inline-block;
		font-size: 18px;
			@include mq(md){
				font-size: 14px;
			}
			&:hover{
				color:$a-color;
	    }
	 }
	 & .icon{
	 	width: 20px;
	 	@include mq(md){
	 		width: 13px;
	 	}
	 }

}
#header{
  position:fixed;
	height: 80px;
	width: 100%;
	background:$second-color;
	top: 0;
	margin-bottom: 100px;
	z-index: 100;
	& .logo{
			display: inline;
			font-size:20px;
			position:absolute;
			top:34%;
			left: 5%; 
			@include mq(md){
				top:8px;
			}
	}
	& .menu{
		display: flex;
		position: absolute;
		right: 10%;
		top:10%;
		& .item{
			margin: $margin-sm;
		}
	}
		@include mq(lg){
	 			height: 50px;
	 		& .menu{
				opacity: 0;
			 	pointer-events: none;
				transition: all ease .5s;
		  }
		  & .menu.active{
				pointer-events: auto;
				opacity: .96;
				position: relative;
				transition: all ease .5s;
				display: block;
				top:15px;
				height: 100vh;
				width: 100%;
				background:$back-color;
				text-align: center;
				line-height: 80px;
				margin-top: -10px;
				font-size: 20px;
				right: 0;
		  }
		  & .smart-menu{
				position: relative;
				z-index: 10;
				display: block;
				float: right;
				top:0px;
				right: 10px;
				height: 20px;
				width: auto;

			& .top::after{
				content: '';
				position: absolute;
				top:14px;
				width: 30px;
				height: 30px;
				right:  10px;
				border-top:1px solid;
				border-color: #111;
				transition: all ease .5s;				
			}

			& .middle::after{
				content: '';
				position: absolute;
				top:24px;
				width: 30px;
				height: 30px;
				right:  10px;
				border-top:1px solid;
				border-color: #111;
				transition: all ease .9s;
			}

			& .bottom::after{
				content: '';
				position: absolute;
				top:34px;
				width: 30px;
				height: 30px;
				right: 10px;
				border-top:1px solid;
				border-color:#111;
				transition: all ease .5s;
			}

			&.active{
				transition: all ease .5s;
				& .top::after{
					top: 10px;
	    		right: 10px;
					transform: translateY(10px) translateX(-10px) rotate(45deg);
					transition: all ease .5s;				
				}
				& .middle::after{
					display: none;
					transition: all ease .9s;
				}
				& .bottom::after{
					top: 10px;
	    		right:  10px;
					transform:translateY(10px) translateX(10px) rotate(-45deg);
					transition: all ease .5s;
				}
			}
		}
	 }

}

.container{
	margin: 100px auto;
	& .error-msg{
			padding: 0;
			color:rgba(257,206,206);
			font-size: 15px;
			text-align: right;
			@include mq(md){
				font-size: 12px;
			}
	}
	& .row{
		display: flex;
		justify-content:center;
		margin: 0 auto;
	}
	& .flash-message{
		text-align: center;
		font-size: 20px;
		color:$a-color;
	}
	& .alert-message{
		text-align: center;
		font-size: 20px;
		color:$a-color;
	}
	& .title{
		text-align: center;
		margin: $margin-lg $margin-lg;
		font-size: 20px;
		@include mq(md){
			margin: $margin-mm;
			font-size: 16px;
		}

	}
	& .new-btn{
		position: fixed;
		bottom:10%;
		right: 10%;
		@include mq(md){
			right: 5%;
		}

		& button{
			border-radius: 50px;
			background: $second-color;
			width: 50px;
			height: 50px;
			border: none;
			color: $a-color;
			font-size: 25px;

		}

	}

		& .pagenation{
			margin: 0 auto;
		& .back{
			text-align: left;
			margin-left: $margin-sm;
			& .back-btn{
				width: 50px;
				height: 50px;
				color: $a-color;
				font-size: 25px;
				@include mq(md){
					font-size: 15px;
				}
		}
		}

	}

	
	& .like-area{
		display: flex;
		justify-content: flex-end;
		padding: $margin-mm;

		& .like-btn{
			position: relative;
			font-size: 20px;
			top: -1px;
			right: -3px;
			@include mq(md){
					font-size: 15px;
				}
			& .like, .unlike{
        transition: ease .5s; 
        opacity: 0;
				position: absolute;
				right: 10px;
				pointer-events: none;

				&.show{
					 opacity: 1;
					 transition: ease .5s; 
					 pointer-events: auto;	
				}
			}
		}

	}
	& form{
		margin: 0 auto;
		width: 60%;
		height: auto;
		@include mq(md){
			width: 100%;
		}
	}
	& .post-desc{
			 display: flex;
			 justify-content: flex-end;
			 font-size: 13px;
			 line-height: 2;
			 align-items:center;
				@include mq(md){
				  font-size: 9px;
				}

				& .tag{			
				background: $second-color;
				border-radius: 30px;
				padding: $margin-mm;
				margin: $margin-mm;
				width: auto;
				text-align:center;

					@include mq(md){
						width: auto;
					}
				}
			& .post-date, .post-profile,{
			padding: $margin-mm;
			}	
			& .comment-num, .like-count,{
			padding: $margin-mm;
			}	
	}
}

#home{
	& .list{
		padding: $margin-sm;
		margin: $margin-sm;
		border-radius: 20px;
		& .list-title{
			text-align:center;
			border-bottom: 1px dotted rgba(0,0,0,.4);
			width: 90%;
			padding: $margin-sm;
			margin: 0 auto;
		}
		& li{
			margin:$margin-md $margin-sm;
			@include mq(md){
				margin:$margin-sm 0;
				margin-left: -15px;
			}
		}
	}
}
#profile{
	& .student-details, .worker-details{
		opacity: 0;
		transition: ease .5;
		display: none;
		&.show{
			opacity: 1;
			transition: ease .5;
			display: block;
		}

	}


}
#new{
	margin: 0 auto;
}
#show{
	& .question{
		line-height: 50px;
		padding: $margin-sm;
		margin: $margin-sm;
		border-bottom: $border-style;
		@include mq(md){
			line-height: 35px;
		}
		& .content{
			margin-bottom: $margin-md;
		}
	}
  	& .visiter-advice{
  		text-align: center;
  		display: none;
  		&.show{
  			display: block;
  		}
  	}
  	& .visiter-blur{

  		&.show{
  			display: block;
  		 -webkit-filter: blur(5px);
			 -moz-filter: blur(5px);
			 -o-filter: blur(5px);
			 -ms-filter: blur(5px);
			 filter: blur(5px);
  		}

  	}


	& .comment{
		margin: $margin-md auto;
		margin-bottom: $margin-lg;
		transition:ease 1s;
		& textarea{
			width: 100%;
		}
		
		
	}
	& .comment-list{
		margin: $margin-md auto;
		@include mq(md){
			margin: 0;
		}
		& .comment-list-item{
			border-bottom: $border-style;
			line-height: 40px;
			font-size: 16px;
			padding: $margin-sm;
			margin: 5px;
			@include mq(md){
				font-size: 11px;
				line-height: 25px;
			}
			& .comment-content{
				margin-bottom: $margin-sm;
			}



		}
	}

}

#question{

	& .question-list{
		border-bottom: $border-style;
		margin-bottom: $margin-sm;
		padding: $margin-sm;
		@include mq(md){
			padding: $margin-sm;
		}
		& .title{
			text-align: left;
			padding: 0;
			margin: 0;
			margin-bottom: $margin-sm;

			@include mq(md){
				font-size: 15px;
			}
		}
		& .content{
			margin-left:$margin-mm;
			margin-bottom: $margin-md;
		}
		& .icon-area{
			text-align: right;
		}
		
	
	}
}

#myquestion{
	& .question-list{
		border-bottom: $border-style;
		margin-bottom: $margin-sm;
		padding: $margin-sm;
		& .desc{
			margin: $margin-mm;
			padding: $margin-mm;
			font-size: 15px;
			@include mq(md){
				font-size: 12px;
			}
			& .item{
				margin-left:$margin-sm;
				display: inline;
			}
		}
		& .edit-icon{
			margin: $margin-mm;
			padding: $margin-mm;
			font-size: 25px;
			text-align: right;
			@include mq(md){
				font-size: 18px;
			}
			& .item{
				margin-left:$margin-sm;
				display: inline;
			}
		}
	}


}


